// Global SCSS styles
@import './variables.scss';
@import './mixins.scss';
@import './header.scss';
@import './main-header.scss';

@font-face {
  font-family: 'NotoSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/noto-sans/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSans-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/noto-sans/NotoSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSans-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/noto-sans/NotoSans-Bold.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: $font_main;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffffff;
  font-size: 14px;
}

// Ant Design overrides
.ant-layout {
  min-height: 100vh;
}

// Custom utilities
.container {
  display: flex;
  margin: 0 auto;
  padding: 12px;
  color: black;

  @media (min-width: $breakpoint-xl) {
    max-width: 1224px;
  }
}

.main-container {
  min-height: 80vh;

  @media (max-width: $breakpoint-lg) {
    min-height: 50vh;
  }
}
